<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css' ) }}>
    <title>IT-mannen</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <h1>
            IT-mannen
        </h1>
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
        <p>
            Skapad av Fogel🦅 och 🧙‍♂️Merlin🪄, inspirerad av DHacks TV-mannen
        </p>
    </footer>
</body>

</html>