{% extends "index.html" %}

{% block main %}

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.description.label }} {{ form.description() }}</p>
    <p>{{ form.file.label }} {{ form.file(accept="image/*") }}</p>
    <p>{{ form.is_timed.label }} {{ form.is_timed() }}</p>
    <p>{{ form.start_time.label }} {{ form.start_time() }}</p>
    <p>{{ form.end_time.label }} {{ form.end_time() }}</p>
    <p>{{ form.submit.label }} {{ form.submit() }}</p>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <script type="text/javascript">
    window.onload = function() {
      {% for category, message in messages %}
        alert("{{ message }}");
      {% endfor %}
    };
    </script>
  {% endif %}
{% endwith %}

{% endblock %}